--index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://pypi.org/simple
torch~=2.11
myst-nb~=1.4
seaborn
gensim
torchmetrics
sphinx-design
sphinx-copybutton
xlrd~=2.0
# scikit-surprise
networkx
sphinx_rtd_theme
pytest