body {
    color: #292929;
}

.wy-nav-content {
    max-width: 1060px;
    background: #fff;
}

.wy-side-nav-search {
    background-color: #fff;
}

.wy-side-nav-search > div.version {
    color: #404040;
}

h2 {
    border-bottom: 1px solid #aaaaaa;
}

h3 {
    text-decoration: underline;
}

strong {
    background-color: #f0f700;
    /*background-color: #f8b101;*/
    padding: 0.1em 0.2em;
}

p {
    font-size: 17px;
}

p.centered > strong {
    background-color: #fff;
    padding: 0;
}
